*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #e0f7fa ;
}
header{
    position: fixed;
    right: 50px;
}
.vertical{
    letter-spacing: 3px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.v-line-1{
    margin-right: 15px ;
    border-right: 1px solid #3f3f3f;
    height: 10rem;
}
.container{
    height: 100vh;
    padding-top:10% ;
}
body{
    background-color: #0b0b20;
    height: 100vh;
}

.cont{
    position: fixed;
}
.vh-box1{
    height: 100%;
}

.vh-box1-1{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content:center ;
}

p{
    text-align: justify;
}
p:hover{
    color: rgb(197, 255, 255);
    transition-duration: 3s;
    transition-property:color;
}
.text-padd{
    margin-top: 2rem;
}
.divider{
    background-color: #00838f;
    background-image: linear-gradient(90deg, #00838f 0%, #2ad9f0 100%);
}
.fx-box-1{
    background-color:#00838f00;
    transition-duration: 1s;
    transition-property:background-color;
}
.fx-box-1:hover{
    color: #020202;
    background-color: #00838f;
    transition-duration: 1s;
    transition-property: background-color;
}
.fx-box{
    border: 1px solid #2ad9f000;
    border-radius: 20px;
    padding: 20px;
    background-color:#00838f00;
    transition-duration: 1s;
    transition-property: border, background-color, color, border-radius;
}
.fx-box:hover{
    border-radius: 1px;
    border: 1px solid #2ad9f0;
    background-color:#228491;
    transition-duration: 1s;
    transition-property: border, background-color, color, border-radius;
}
.box_3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.box_3 a img{
    width: 45%;
    margin: 10px;
    transition:transform 1s;   
}
.box_3 a img:hover{
     transform: scale(1.1);
}


/* CURRICULO */
/* .bottom{
    position: fixed;
    bottom: 0;
    left: 50%;
    right: 50%;
} */
/* FOOTER */
footer{
    position: fixed;
    bottom: 0;
    left: 50px;
}

.redes{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.v-line-2{
    margin-left: 15px ;
    border-left: 1px solid #3f3f3f;
    height: 10rem;
}

@media (max-width: 992px) {
    header{
        position: initial;
    }
    .vertical{
        writing-mode: horizontal-tb;
        text-align: end;
        margin-right: 50px;
    }
    .v-line-1{
        margin-top: 13px;
        position: absolute;
        border-right: 0 solid #3f3f3f;
        border-top: 1px solid #3f3f3f;
        width: 65%;
        height: 2rem;
    }

}
@media (max-width: 600px) {
    .v-line-1{
        margin-top: 13px;
        position: absolute;
        border-right: 0 solid #3f3f3f;
        border-top: 1px solid #3f3f3f;
        width: 40%;
        height: 2rem;
    }
    footer{
        position: initial;
        margin: auto;
    }
    .tablet-mobil{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .redes{
        flex-direction: row-reverse;
        margin: auto;
    }
    .redes a{
        margin:10px;
    }
    .v-line-2{
        margin: 0;
        border-left: 0 solid #3f3f3f;
        width: 50%;
    }
}
