*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #e0f7fa ;
}
html{
    scroll-behavior: smooth;
}
header{
    position: fixed;
    right: 50px;
}
.vertical{
    letter-spacing: 3px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.v-line-1{
    margin-right: 15px ;
    border-right: 1px solid #3f3f3f;
    height: 10rem;
}
body{
    background-color: rgb(11, 11, 32);
}
.top{
    margin-top: 4rem;
}
.cta{
    position: fixed;
}
p{
    text-align: justify;
}
.text-padd{
    margin-top: 2rem;
}
.divider{
    background-color: #00838f;
    background-image: linear-gradient(90deg, #00838f 0%, #2ad9f0 100%);
}
.fx-box{
    border: 1px solid #2ad9f000;
    border-radius: 20px;
    padding: 20px;
    background-color:#00838f00;
    transition-duration: 1s;
    transition-property: border, background-color, color, border-radius;
}
.fx-box:hover{
    color: #00838f;
    border-radius: 1px;
    border: 1px solid #2ad9f0;
    background-color:#228491;
    transition-duration: 1s;
    transition-property: border, background-color, color, border-radius;
}

/* FOOTER */
footer{
    position: fixed;
    bottom: 1px;
    left: 50px;
}
.redes{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.v-line-2{
    margin-left: 15px ;
    border-left: 1px solid #3f3f3f;
    height: 10rem;
}

@media (max-width: 992px) {
    .cta{
    position: initial;
    }
    .redes{
        flex-direction: row-reverse;
        margin-left: 50px;
    }
    .v-line{
        margin: 5px;
        border-left: 0px;
        border-bottom: 1px solid #3f3f3f;
        width: 50px;
        height: 1rem;
    } 
    .redes a{
        margin: auto 5px;
    }
}
@media (max-width: 600px) {
    footer{
        position: initial;
    }
    .tablet-mobil{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .redes{
        margin-left: 0;
    }
    .v-line{
        border: 0 solid;
        width: 0;
    }
}
